
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    /* font-size: 20px; */
}

header{
    background-color: #3985fd;
    color: #fff;
}

footer{
    background-color: black;
    color: #fff;
}







/* Layout classes */

.container{
    max-width: 100%;
    margin: 0 auto;  
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.header-col{
    width: 50%;
    padding: 15px;
}


.col-33, .col-40, .col-50, .col-60, .col-66, .col-100{
    width: 100%;
    padding: 15px;
}



/* Utility class */

.float-end{
    float: right;
}


.desktop-menu{
    display: none;
}

.text-center{
    text-align: center;
}


.py-10{
    padding: 10px 0;
}

.unstyled-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.unstyled-list li{
    margin: 0px 10px;
}

.unstyled-list li a{
    color: #fff;
    text-decoration: none;
}

.radius{
    border-radius: 20px;
}






/* Styling classes */

header .content{
    /* height: 80px; */
}



#bg-violet{
    background-color:#9892e4;
} 

.bg-blue{
    background-color: #bbddff;
}

.bg-violet{
    background-color: #9892e4;
}

.bg-white{
    background-color: #fff;
}


.content{
    width: 100%;
    padding: 10px 10px 10px 10px;
    /* height: 450px;   */
}






.header-btn{
    padding: 7px;
    border: 0;
    border-radius: 10px;
}


.padding-blue-cards{
    padding: 38px;
}

.padding{
    padding: 30px;
}

.fa-solid.fa-bars{
    font-size: 30px;
}

.blue-title{
    color: #3985fd;
    margin: 30px 0px;
}

.blue-btn{
    width: 60%;
    margin: 30px 0px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #3985fd;
    color: #fff;
}

.blue-btn > .fa-brands.fa-apple {
    margin-right: 5px;
}


.phone{
    width: 100%;
}

.icon{
    font-size: 60px;
    color: #3985fd;   
}


.card-description-white{
    color: #fff;
}

.card-description-white > h2{
    margin: 30px 0;
}

.card-description > h3{
    font-size: 25px;
    margin: 20px 0px;
}

.planning, .planning-two{
    width: 100%;
}

.arrow{
    font-size: 25px;
}

.circle-violet{
    background-color: #9892e4;
    padding: 20px 25px;
    border-radius: 50%;
}

.introduction-testimonials > h2{
    color: #9892e4;
    margin: 25px 0px;
}







.title.best-of-working{
    font-size: 30px;
    color: #fff;
    padding: 25px 0;
    text-align: center;
}

.text-violet{
    color: #9892e4;
}




.content-left > img{
    width: 100%;
    border-radius: 50%;
}

.descriprion{
    padding-top: 20px;
}


    












/* Media query */


/* Tablet */

@media screen and (min-width: 768px) {
    .col-66{
        width: calc(100% / 3 * 2);
    }

    .col-60, .col-40{
        width: calc(100% / 2);
    }

    .col-33{
        width: calc(100% / 3);
    }

    .col-33.col-tablet{
        width: calc(100% / 2);
    }


    .fa-solid.fa-bars{
        font-size: 30px;
    }

    .text-left{
        text-align: left;
    }

    .blue-btn{
        max-width: 40%;
    }

    .phone{
        width: 300px;
    }

    .bg-violet.radius.flex{
        display: flex;
    }

    .descriprion{
        padding-top: 50px;
    }


}


/* Desktop */

@media screen and (min-width: 1200px) {
    .col-50.col-desktop{
        width: 50%;
    }

    .col-33.col-desktop{
        width: calc(100% / 3);
    }

    .container{
        max-width: 1100px;
        margin: 0 auto;
    }


    .mobile-menu{
        display: none;
    }

    .desktop-menu{
        display: block;
    }

    .display-flex{
        display: flex;
    }

    .descriprion{
        padding-top: 50px;
    }

    .bg-violet.radius.flex{
        display: flex;
    }


}