
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 15px 0px;
    background-color: #3985fd;
}


.header-col{
    width: 50%;
}





/* Layout classes */

.container{
    width: 100%;  
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: 100%;
}

.col-40{
    width: 100%;
}

.col-50{
    width: 100%;
}

.col-60{
    width: 100%;
}

.col-66{
    width: 100%;
}

.col-100{
    width: 100%;
}


/* Utility class */

.float-end{
    float: right;
}




/* Styling classes */

.content{
    width: 100%;
    margin: 5px 0px;
    height: 200px;
    background-color: red;
    border: 1px solid black;    
}