
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
}

header{
    background-color: #3985fd;
    color: #fff;
}

footer{
    padding: 15px;
    background-color: black;
    color: #fff;
}


.header-col{
    width: 50%;
}





/* Layout classes */

.container{
    width: 100%;  
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33, .col-40, .col-50, .col-60, .col-66, .col-100{
    width: 100%;
}



/* Utility class */

.float-end{
    float: right;
}

.text-center{
    text-align: center;
}




/* Styling classes */

header .content{
    height: 80px;
}

.content{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    height: 200px;
    /* background-color: red; */
    border: 1px solid rgb(255, 3, 3);    
}

#bg-violet{
    background-color:#9892e4;
}



/* Media query */


/* Tablet */

@media screen and (min-width: 768px) {
    .col-66{
        width: calc(100% / 3 * 2);
    }

    .col-60, .col-40{
        width: calc(100% / 2);
    }

    .col-33{
        width: calc(100% / 3);
    }

    .col-33.col-tablet{
        width: calc(100% /2);
    }

    .content{
        padding: 10px;
    }

}


/* Desktop */

@media screen and (min-width: 1200px) {
    .col-50.col-desktop{
        width: 50%;
    }

    .col-33.col-desktop{
        width: calc(100% / 3);
    }

    .container{
        max-width: 900px;
        margin: 0 auto;
    }

    .content{
        padding: 10px;
    }
}